.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(22, 44, 78, 0.6);
    z-index: 200;

    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        min-height: 370px;
        background: #FFFFFF;
        padding: 98px 20px 70px 20px;
        border: 1px solid rgba(19, 89, 120, 0.07);
        border-radius: 2px;
        &-close {
            position: absolute;
            top: 24px;
            right: 16px;
            cursor: pointer;
        }
        &-subtitle {        
            font-weight: 700;
            font-size: 36px;
            line-height: 104%;
            text-align: center;
            text-transform: uppercase;
            color: #162C4E;
        }
        &-descr {
            margin: 30px 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);
        }
        button {
            height: 60px;
            width: 200px;
            background: #1D4169;
            border-radius: 40px;
            border: none;
            display: flex;
            margin: 0 auto;
            padding: 16px 73px;
            cursor: pointer;


            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
        }
        .error {
            border: 2px solid red;
        }
    }
}

.show {
    display: block;
}
.hide {
    display: none;
}